.features {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 130px;
}

.features-img {
    min-width: 500px;
}

.feature-header {
    margin-bottom: 20px;
}

.feature-desc {
    margin-top: 0;
    margin-bottom: 20px;
}

.features-text {
    max-width: 380px;
    font-size: 1rem;
}

.feature-list {
    padding-left: 0;
}

.feature-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: var(--text-color-light);
}

.feature-list-item span {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}

@media (max-width: 1024px) {
    .features-img {
        min-width: 400px;
        width: 400px;
    }

    .features {
        align-items: center;
    }
}

@media (max-width: 768px) {

    .features {
        flex-direction: column-reverse;
    }

    .features-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 500px;
    }

    .feature-list {
        align-self: center;
    }

    .feature-list-item {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {

    .features-text {
        max-width: 100%;
        padding: 0 30px;
    }

    .features-img {
        min-width: 0;
        width: 85%;
    }
}

@media (max-width: 321px) {
    .features-text {
        padding: 0 20px;
    }

    .feature-list {
        text-align: left;
    }
}